@font-face {
    font-family: JosefinSans;
    src: url("resources/fonts/JosefinSans.ttf");
}

@font-face {
    font-family: FiraCode;
    src: url("resources/fonts/FiraCode.ttf");
}

.bg {
    background-image: url("resources/images/background.jpg");
    height: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: JosefinSans;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    padding: 75px;
}